html {
  height: 100%;
  body {
    height: 100%;
    #root {
      height: 100%;
    }
  }
}
.icon {
  font-size: 1.5rem;
}
.messageHome {
  display: flex;
  height: 100vh;
  width: 100vw;

  .message-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    // background-color: rgb(246, 246, 246);

    .messages {
      width: 80%;
      height: 90vh;

      margin: auto;
      display: flex;
      border: 1px solid rgb(183, 183, 183);
      border-radius: 10px;
      background-color: #fff;

      .users {
        width: 40%;
        padding: 10px 5px 20px 10px;
        display: flex;
        flex-direction: column;
        #message-header {
          display: flex;
          flex-direction: row;
          font-size: larger;
          font-weight: 500;
          margin-top: 10px;
          #user-account {
            margin-left: 100px;
            & > * {
              display: inline-block;
              margin-right: 10px;
            }
          }
          i {
            float: right;
            margin-left: auto;
            padding-right: 10px;
          }
        }
        #user-list {
          margin-top: 20px;
          overflow-y: scroll;
          margin-left: 20px;
        }
      }
      .message-box {
        width: 60%;

        border-left: 1px solid rgb(183, 183, 183);
        display: flex;
        flex-direction: column;
        #user {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 8%;
          padding: 10px 0;
          border-bottom: 1px solid rgb(120, 120, 120);
          padding-right: 40px;
          font-size: 16px;
          font-weight: 600;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-left: 30px;
          }
          p {
            margin-left: 20px;
          }
          i {
            float: right;
            margin-left: auto;
          }
        }
        .message-user-home .user .new-msg {
          color: red;
          font-weight: 600;
        }
        #messages {
          height: 82%;
          display: flex;
          flex-direction: column;
          margin: 0 10px 10px;
          overflow-y: scroll;
          .friend-messages {
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              margin-top: auto;
              margin-right: 10px;
            }
            .message-list {
              width: 70%;
            }
          }
          .my-messages {
            display: flex;
            flex-direction: column;
          }
        }
        #message-input {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 85%;
          height: 6%;
          margin: 0 auto 15px;
          border: 0.5px solid rgb(210, 209, 209);
          border-radius: 20px;
          padding: 7px 20px;
          #icon {
            float: left;
            margin-right: auto;
          }
          input {
            margin-left: 10px;
            width: 80%;
            border: 0px;
          }
          input:focus {
            outline: none;
          }
          #images {
            float: right;
            margin-left: auto;
          }
          #like {
            float: right;
            margin-left: 20px;
          }
        }
      }
    }
  }
  .user-wrapper {
    cursor: pointer;
    &:hover {
      background-color: rgb(247, 247, 247);
    }
  }
}

@media screen and (min-width: 1200px) {
  .common-sidebar {
    display: block;
  }
  .mini-sidebar {
    display: none;
  }
  .message-container {
    margin-left: 244px;
  }
}
@media screen and (max-width: 1200px) {
  .common-sidebar {
    display: none;
  }
  .mini-sidebar {
    display: block;
  }
  .message-container {
    margin-left: 80px;
  }
}
