.react-input-emoji--container {
  border: none !important;
}
.react-input-emoji--button {
  display: flex !important;
  align-items: center !important;
  justify-content: center;

  margin-right: 15px !important;
}
.react-input-emoji--input {
  max-height: 10px !important;
  max-width: 300px !important;
  overflow-y: scroll !important;
  &::-webkit-scrollbar {
    display: none;
  }
}
