.message-item-home {
  width: fit-content;
  max-width: 150px;
  word-wrap: break-word;
  height: fit-content;
  border: 0.5px solid rgb(226, 226, 226);
  border-radius: 15px;
  padding: 10px;
  position: relative;
  .emoji {
    position: absolute;
    bottom: -6px;
    right: -24px;
    // border: 1px solid gray;
    text-align: center;
    border-radius: 99px;
    padding: 3px 8px;
    background-color: rgb(232, 232, 232);
  }
}
.messageHome
  .message-container
  .messages
  .message-box
  #messages
  .friend-messages
  img {
  margin-right: 0 !important;
  // width: 15px !important;
  // height: 15px !important;
}
.messageItem-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
