.message-item-home {
  width: fit-content;
  max-width: 60%;
  word-wrap: break-word;
  height: fit-content;
  border: 0.5px solid rgb(226, 226, 226);
  border-radius: 15px;
  padding: 10px;
  position: relative;
}
