.user-post-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  min-width: 600px;
  height: 500px;
  border-radius: 10px;
  .post-image {
    max-height: 600px;
    max-width: 481.069px;
    aspect-ratio: 1440 / 1796;
    flex-basis: 481.069px;
    img {
      overflow: hidden;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .post-info {
    width: 500px;
    .post-info-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 13px 13px;
      .post-account {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        .post-account-username {
          cursor: pointer;
        }
        img {
          width: 32px;
          height: 32px;
          border-radius: 99px;
          margin-right: 10px;
        }
        svg {
          cursor: pointer;
        }
      }
    }
    .ruler {
      width: 100%;
      height: 1px;
      background-color: rgb(227, 227, 227);
    }
  }
  .post-status-wrapper {
    display: flex;
    flex-direction: column;
    padding: 13px 13px;
    font-size: 13px;
    max-height: 216px;
    overflow-y: scroll;
    .post-status {
      display: flex;
      flex-direction: row;
    }
    .post-avt {
      width: 40px;
    }
    img {
      width: 32px;
      height: 32px;
      border-radius: 50px;
    }
    .post-status-desc {
      margin-left: 10px;
      span {
        font-weight: 500;
      }
    }
    .comment-list {
      display: flex;
      flex-direction: column;
      .comment-item {
        margin-top: 12px;
        display: flex;
        flex-direction: row;
        .user {
          width: 40px;
        }
        .comment {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .comment-desc {
            span {
              font-weight: 500;
              margin-right: 5px;
              margin-left: 10px;
            }
          }
          svg {
            width: 13px;
            cursor: pointer;
          }
          .comment-sub {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 10px;
            margin-top: 10px;
            .time {
              margin-right: 10px;
            }
            .reply {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .post-action-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    .post-action-list {
      display: flex;
      flex-direction: row;
      .post-action-item {
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .post-action-save {
      cursor: pointer;
    }
  }
  .post-statistic {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    .first-three-users {
      margin-left: 20px;
      margin-right: 7px;
      display: flex;
      flex-direction: row;
      .first-three-users-item {
        margin-right: -5px;
      }
      img {
        width: 20px;
        height: 20px;
        border-radius: 99px;
      }
    }
    .post-likes {
      font-size: 13px;
      margin-left: 5px;
      .username {
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
  .account-comment {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    input {
      border: none;
      outline: none;
      padding: 10px 10px;
      margin: 0 20px;
    }
    .comment-icons {
      cursor: pointer;
    }
    .post-btn {
      cursor: pointer;
      color: rgb(83, 83, 234);
      font-size: 13px;
    }
  }
}
