.app.dark {
  background-color: black;
  width: 100%;
  height: 100%;
  color: rgb(210, 210, 210);
  .mini-sidebar {
    background-color: #2d2d2d;
    border: none;
    .sidebar-item {
      color: rgb(210, 210, 210);
    }
  }

  .top-navbar {
    background-color: #2c2c2c;
    color: rgb(210, 210, 210);
  }
  .bottom-navbar {
    background-color: #2d2d2d;
    color: rgb(210, 210, 210);
  }
  .common-sidebar {
    background-color: #2d2d2d;
    border-right: 0.5px solid #4a4a4a;
    .logo-header {
      color: rgb(210, 210, 210);
    }
    li {
      &:hover {
        background-color: #4a4a4a;
      }
      svg {
        color: white;
      }
    }
    .sidebar-item {
      color: rgb(210, 210, 210);
    }
    .menu {
      background-color: #292929;
      .menu-item,
      .dropdown-item {
        a {
          color: rgb(210, 210, 210) !important;
        }
        background-color: #292929;
        &:hover {
          background-color: #4a4a4a;
        }
      }
      &:hover {
        background-color: #4a4a4a;
        .menu-item {
          background-color: #4a4a4a;
        }
      }
    }
  }
  .post-container,
  .userlist-container-wrapper {
    background-color: #2d2d2d;
  }
  .userlist-container-wrapper .top {
    background-color: #2d2d2d;
  }
  .post-list,
  .home {
    background-color: #191919;
  }
  svg {
    fill: rgb(210, 210, 210);
  }

  .messageHome {
    .message-container {
      background-color: #181818;
      .messages {
        background-color: #303030;
        border: 1px solid rgb(69, 69, 69);
        .message-box {
          border-left: 1px solid rgb(69, 69, 69);
        }
      }
    }
  }
  .post-new-comment {
    input {
      background-color: inherit;
      border: 1px solid rgb(210, 210, 210);
      color: rgb(210, 210, 210);
      padding: 10px 10px;
      border-radius: 10px;
      width: 95%;
    }
  }
  .profile-container .profile .profile-header .profile-info .edit-profile-btn {
    background-color: #292929;
    border: 1px solid #4a4a4a;
  }
  .profile-container .profile .profile-main .profile-main__header a {
    color: rgb(210, 210, 210) !important;
  }
  .account-list {
    .account-item {
      &:hover {
        background-color: #4a4a4a;
      }
    }
  }
  .my-message-item-home,
  .message-item-home {
    background-color: #292929;
    border: 0.5px solid #808080;
  }
  .messageHome .user-wrapper {
    &:hover {
      background-color: #4a4a4a;
    }
  }
  .messageHome .message-container .messages .message-box #message-input input {
    background-color: inherit;

    color: rgb(210, 210, 210) !important;
  }
  // .Popup_popup_wrapper {
  //   background: #393838;
  //   color: rgb(210, 210, 210) !important;
  //   .follower-modal-wrapper
  //     .follower-list
  //     .follower-item
  //     .follower-left
  //     .username {
  //     color: rgb(210, 210, 210) !important;
  //   }
  //   .follower-modal-wrapper
  //     .follower-list
  //     .follower-item
  //     .follower-right
  //     .delete-btn {
  //     background: #393838;
  //     border: 0.5px solid #808080;
  //     &:hover {
  //       background: #424141;
  //     }
  //   }
  //   .PostForm_form__content__A-YcB > textarea {
  //     background-color: #393838;
  //     color: rgb(210, 210, 210);
  //   }
  //   // .message-user-home .user .new-msg {
  //   //   color: rgb(210, 210, 210);
  //   //   font-weight: 600;
  //   //   display: flex;
  //   //   position: relative;
  //   //   align-items: center;
  //   //   &::after {
  //   //     position: absolute;
  //   //     display: block;
  //   //     left: 0;
  //   //     content: "";
  //   //     background-color: rgb(138, 85, 85);
  //   //     width: 10px;
  //   //     height: 10px;
  //   //     border-radius: 99px;
  //   //   }
  //   // }
  // }
}
.ruler {
  background-color: #4a4a4a;
}
