.home {
  display: flex;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
}
.post-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}
.top-navbar {
  display: none !important;
}
.bottom-navbar {
  display: none;
}
.home-container {
  flex: 1;
}
@media screen and (min-width: 1201px) {
  .home-container {
    margin-left: 224px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1001px) {
  .top-navbar {
    display: none;
  }
  .common-sidebar {
    display: none;
  }
  .mini-sidebar {
    display: block;
  }
  .home-container {
    margin-left: 100px !important;
  }
}
@media screen and (max-width: 1000px) and (min-width: 701px) {
  .common-sidebar {
    display: none;
  }
  .top-navbar {
    display: none;
  }
  .userlist-container-wrapper {
    display: none;
  }

  .mini-sidebar {
    display: block;
  }
  .home-container {
    width: 100px;
    margin-left: 77px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 700px) {
  .userlist-container-wrapper {
    display: none;
  }
  .mini-sidebar {
    display: block;
  }
  .common-sidebar {
    display: none;
  }
  .home-container {
    margin-left: 70px;
  }
}
@media screen and (max-width: 480px) {
  .top-navbar {
    display: flex !important;
  }
  .bottom-navbar {
    display: block;
  }
  .common-sidebar {
    display: none;
  }

  .mini-sidebar {
    display: none;
  }
  .userlist-container-wrapper {
    display: none;
  }
  .post-list {
    margin-top: 50px;
  }
}
