.home {
  display: flex;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
}
.post-list {
  display: flex;
  flex-direction: column;
  // padding: 20px 70px;
  margin: 0 auto;
  // width: fit-content;
}
.top-navbar {
  display: none !important;
}
.bottom-navbar {
  display: none;
}
.home-container {
  flex: 1;
}

@media screen and (min-width: 1200px) {
  .top-navbar {
    display: none;
  }
  .common-sidebar {
    display: block;
  }
  .mini-sidebar {
    display: none;
  }
  .home-container {
    margin-left: 244px;
  }
}
@media screen and (min-width: 1000px) {
  .top-navbar {
    display: none;
  }
  .userlist-container {
    display: none;
  }
  .home-container {
    margin-left: 244px;
  }
  .mini-sidebar {
    display: none;
  }
  .home-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .top-navbar {
    display: flex !important;
  }
  .bottom-navbar {
    display: block;
  }
  .common-sidebar {
    display: none;
  }

  .mini-sidebar {
    display: none;
  }
  .userlist-container-wrapper {
    display: none;
  }
  .post-list {
    margin-top: 50px;
  }
}
